body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-container
{
    width: 300px;
}

.feed-container
{
    background: darkgray;
}

.post-item
{
    border: 1px solid black;
    height: 65px;
}

.profile-details
{
    position: relative;
}

.avatar-container
{
    display: inline-block;
    margin: 2px 10px 2px 2px;
    border: 1px solid black;
}

.details-text
{
    display: inline-block;
    line-height: 30px;
    top: 0;
    position: absolute;
}

.generate-button
{
    margin-bottom: 20px;
}

.profile
{

}

.avatar-container-profile
{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    background: darkgray;
}

.details-text-profile
{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px;
    background: darkgray;
}